.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maid {
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 70px;
}
.maidzone {
  border: 1px solid black;

  padding: 20px;
  margin-left: 2%;
  width: 13%;
  border-radius: 50px;
  text-align: center;
}

#article1 {
  margin-top: 3%;
  margin-left: 3%;
  border: 1px solid black;
}

#div1 {
  text-align: center;
}

h1 {
  color: red;
}

#modalhuakuy {
  width: 800px;
  height: 1270px;

  border-color: coral;
}

#modal2 {
  width: 600px;
  height: 800px;
}
